div カート

- if flash[:cart_item]
  div
    | 追加された商品
    = flash[:cart_item]

table style="border: 1px;" ng-controller="CartController"
  thead
    tr
      th &nbsp
      th sku
      th 個数
      th 価格

  tbody ng-repeat="cart in carts"
    tr
      td
        img ng-src="{{cart.thumbnail_url}}"
      td
        |{{::cart.sku}}
      td
        input[type="number" name="quantity" ng-model="cart.quantity" min="0" required style="width: 45px;"]
      td
        |{{cart.sales_price * cart.quantity || 0}}

div
  = link_to '商品ページ', product_items_path

div
  = link_to "カート削除", cart_clear_path
