= form_for @product_item do |f|
  - if @product_item.errors.any?
    #error_explanation
      h2 = "#{pluralize(@product_item.errors.count, "error")} prohibited this product_item from being saved:"
      ul
        - @product_item.errors.full_messages.each do |message|
          li = message

  .field
    = f.label :product_id
    = f.number_field :product_id
  .field
    = f.label :sku
    = f.text_field :sku
  .field
    = f.label :sales_price
    = f.text_field :sales_price
  .actions = f.submit 'Save'
