h1 Listing product_items

table
  thead
    tr
      th Product
      th Sku
      th Sales price
      th
      th
      th

  tbody
    - @product_items.each do |product_item|
      tr
        td = product_item.product_id
        td = product_item.sku
        td = product_item.sales_price
        td = link_to 'Show', product_item
        td = link_to 'Edit', edit_product_item_path(product_item)
        td = link_to 'Destroy', product_item, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Product item', new_product_item_path
