p#notice = notice

div#container
  div#image_detail
    = image_tag @product_item.image_url

  div
    strong Product:
    div#product_id = @product_item.product_id
  div
    strong Sku:
    div#sku = @product_item.sku
  p
    strong Sales price:
    div#price = @product_item.sales_price

  = form_tag cart_add_path, :method => :post, :id => 'add_cart_form' do
    div#hidden
      = hidden_field_tag "cart_item[sku]", @product_item.sku
    p
      個数&nbsp:&nbsp

    div#quantity
      /- if !@product_item.available?
        /品切れ中です
      /- elsif @product_item.selectable_quantity > 0

      = select_tag "cart_item[quantity]", options_for_select((1..@product_item.selectable_quantity).collect {|i| [i, i] })


    div#submit
      /- if @product_item.order_acceptable?
      = submit_tag "カートに入れる"
      /- else
        /在庫がありません

  = link_to 'Edit', edit_product_item_path(@product_item)
  '|
  = link_to 'Back', product_items_path
