// Place all the styles related to the ProductItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#hidden {
  display: none;
}

#image_detail {
  float: left;
}
