doctype html
html
  head
    title
      | CartExample
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  body
    header
      div.header-left
        = link_to "CartExample", root_path
      div.header-right
        |ようこそ
        - if user_signed_in?
          = current_user.email
        - else
          |ゲス

      div.header-right
        = link_to 'カート', cart_index_path

      br clear="both"

    = yield
